html {
	scroll-behavior: smooth;
}


body {
	font: 17px "Montserrat", "Avenir";
	line-height: 1.3em;
	background-color: #F9F3E2;
}


header {
	background-color: #F9F3E2;
	/*position: absolute;*/
	/*float: right;*/
	/*height: 100px;*/
}

.navbar-nav li{
	padding: 5px 10px 5px 10px;
	margin: 0px 10px 0px 10px;
	border: 3px solid #9B9B9B;
	border-radius: 100px;
	letter-spacing: 5px;
}

.navbar-nav li center{
	text-align: center;
}



.bg-light {
	background-color: #F9F3E2;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #F9F3E2;

}


.nav-down img {
	margin-top: -15px;
}

.nav-down a {
	padding: 5px 10px 5px 10px;
	margin: 0px 10px 0px 10px;
	border: 3px solid #9B9B9B;
	border-radius: 100px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



/*All things section1*/

#section1 {
  height: 90vh;
  background-color: #F9F3E2;
}



#home {
	margin: auto;
	vertical-align: middle;
	padding: 3vh 0;
	background-color: #F9F3E2;
}



#home_right {
	border-left: 4px solid grey;
	padding-left: 50px;
	/*border-radius: 65px;*/
}

#home img {
	display:block;
}

#section1 h1 {
	font: 100px "Permanent Marker", "Avenir";
	letter-spacing: 2px;
}

#section1 h2 {
	font: 20px "Montserrat", "Avenir";
	letter-spacing: 6px;
}


#section1 a {
	font: 33px "Montserrat", "Avenir";
	color: black;
	text-decoration: none;
	position: relative;
	padding-bottom: 0;
	margin-bottom: 2px;
}





#nav_down {
	margin: auto;
	float: middle;
	padding: 5px 10px 5px 10px;
	margin: 0px 10px 0px 10px;
/*	border: 3px solid #9B9B9B;*/
	border-radius: 100px;
	letter-spacing: 5px;
}















/* ALL THINGS SECTION 2*/


#section2 {
  height: 93vh;
  vertical-align: middle;
  background-color: #F9F3E2;
}


#section2 h2 {
	font: 25px "Permanent Marker", "Avenir";
	margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    line-height: 1.3em;
    color: black;
}

#section2 a:hover {
	text-decoration: none;
}


#section2 h3 {
	font: 22px "Montserrat", "Avenir";
	margin-block-start: 0.0em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#section2 img {
	margin: auto;
	float: center;
}













/* DETAIL PAGE */

#section {
	height: 90vh;
 	background-color: #F9F3E2;
}

#section h1 {
	font: 50px "Permanent Marker", "Avenir";
}

#section p {
	font: 20px "Montserrat", "Avenir";
}

/*frosting button labels */
#section h5 {
	font: 15px "Montserrat", "Avenir";
}

/*price */
#section h2 {
	font: 40px "Montserrat", "Avenir";
	font-variant: bold;
}

#section h4 {
	font: 23px "Montserrat", "Avenir";
	color: black;
}



/*number selection*/

.flex-container.six {
	max-width: 100px;
}

.flex-container.dozen {
	max-width: 170px;
}

.flex-container {
  display: flex;
  background-color: #f9f3e2;
  border:1px solid #9b9b9b;
  border-radius:10px;
  margin: 10px;
  padding: 5px;
  flex-wrap: wrap;
  cursor:pointer;
  justify-content: center;
  max-width: 100px;
}

.flex-container > div {
  margin: -3px;
  font-size: 20px;
  padding-bottom: 4px;
}

.flex-container:hover {
	background-color:#f4cf71;
}
.flex-container:active {
	position:relative;
	top:1px;
}



.bunIcon {
	float: middle;
	margin: auto;
	width: 30px;
	height: 33px;
	padding-bottom: 3px;
}




/*frosting selection*/

.myButton {
	background-color:#f9f3e2;
/*	-moz-border-radius:28px;
	-webkit-border-radius:28px;*/
	border-radius:10px;
	border:1px solid #9b9b9b;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:5px;
	padding-bottom: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	height: 40px;
	width: 40px;
}


.myButton:hover {
	background-color:#f4cf71;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton img {
	float: middle;
	margin: auto;
	width: 30px;
	height: 30px;
	padding-bottom: 3px;
}



/*pricing & checkout/add to cart*/

.price {
	min-height: 100px;
	border-top: 2px solid grey;;
	vertical-align: middle;
}

.price > h2 {
	position: absolute;
/*	bottom: 0;*/

}

.proceed {
	padding-top: 5%;
	text-align: center;
}


.proceed h4 {
	border-radius: 100px;
	border: 4px solid #9B9B9B;	
	min-height: 60px;
	padding-top: 5%;
	cursor:pointer;
}

.proceed h4:active {
	position:relative;
	top:1px;
}













.icon {
	transition: all .3s ease-out;
}

.icon:hover {
	transform: scale(1.05) translateY(-3px);
}


@keyframes fadeInOpacityShorter {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacityLonger {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.nav {
/*	font: 20px "Montserrat", "Avenir";
	padding: 1%;
	position: fixed;
	top: 0;
	width: 100%;*/
}

/*.nav a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	padding: 6px;
}*/

/*#right-nav a {
	margin-left: 1em;
}*/

/*.nav a:hover {
	color: white;
	background-color: #3eba8f;
	padding: 6px;
	border-radius: 10px;
	opacity: 1;
	animation-name: fadeInOpacityShorter;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

.nav a.active {
	color: white;
	background-color: #3eba8f;
	padding: 6px;
	border-radius: 10px;
	opacity: 1;
}*/




/*Citation - https://css-tricks.com/snippets/css/typewriter-effect/*/
.typewriter h1{
   overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 2px;
    animation: 
    	typing 1.3s steps(10, end), 
    	blink-caret .75s steps(50, end) infinite;
}

.typewriter {
    display: inline-flex;
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #3eba8f; }
}

.span {
	margin: auto;
}

.desc img {
	float: right;
	display: block;
	max-width: 256px;
	max-height: 256px;
}

.links img {
	float: left;
}

.github img{
	float:right;
}

.linkedin img{
	float:left;
}




.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
